<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{{#sessionData}}
		{{sessionData}}님 반갑습니다.
		<a href="/dropSession">로그아웃</a>
	{{/sessionData}}
	{{^sessionData}}
		<a href="/newSession">로그인</a>
	{{/sessionData}}
</body>
</html>