<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{{#map}}
		maxId : {{maxId}}<br>
		minId : {{minId}}<br>
		count : {{cnt}}
	{{/map}}
</body>
</html>