<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ADD BOARD</h1>
	<form method="post" action="/addBoard" enctype="multipart/form-data">
		<table border="1">
			<tr>
				<th>TITLE</th>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<th>PW</th>
				<td><input type="password" name="pw"></td>
			</tr>
			<tr>
				<th>FILE</th>
				<td><input type="file" name="fileList" multiple></td> <!-- 여러파일 선택 -->
			</tr>
		</table>
		<button>저장</button>
	</form>
</body>
</html>