<!DOCTYPE html>
<html>
<head>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
	body{
	text-align:center
	}
	table{
	margin:auto;
	}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>상세보기</h2>
	<!-- board 수정 -->
	<!-- board 삭제 : 1) boardfile삭제 후 board 삭제 -->
	<div>
		<a href="/modifyBoard?bno={{boardMapping.bno}}">수정</a>
		<a href="/deleteBoard?bno={{boardMapping.bno}}">삭제</a>
	</div>
	<table class="w-50 table table-bordered">
		<tr>
			<th>번호</th>
			<td>{{boardMapping.bno}}</td>
		</tr>
		<tr>
			<th>제목</th>
			<td>{{boardMapping.title}}</td>
		</tr>
	</table>
	
	
	<!-- 개별파일 삭제 -->
	<hr>
	<h2>첨부파일</h2>
	
	<table class="w-50 table table-bordered">
		<tr>
			<th>파일이름</th>
			<th>삭제</th>
		</tr>
	{{#fileList}}
		<tr>
			<td><a href="/upload/{{fname}}.{{fext}}" download="{{foriginname}}">{{foriginname}}</a></td>
			<td><a href="/removeBoardfile?fno={{fno}}&bno={{bno}}">파일삭제</a></td>
		</tr>
	{{/fileList}}
	</table>
	

</body>
</html>